[Desktop Entry]
Name=cosmic-ext-picross
Exec=cosmic-ext-picross %F
Terminal=false
Type=Application
StartupNotify=true
Icon=git.Kartonrealista.cosmic-ext-picross
Categories=COSMIC;Game
Keywords=Folder;Manager;
MimeType=inode/directory;
