[Desktop Entry]
Name=COSMIC App Template
Exec=cosmic-app-template %F
Terminal=false
Type=Application
StartupNotify=true
Icon=git.Kartonrealista.cosmic-ext-picross
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
